<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head('Roll Dice Website')">
        <meta charset="UTF-8">
        <title>Roll Dice</title>
    </head>
    <body>
    <nav th:replace="fragments/navbar :: navbar">Navbar</nav>
    <h1>Please guess/choose a number.</h1>

    <div class="container">
        <a href="/roll-dice/1">Guess 1</a><br>
        <a href="/roll-dice/2">Guess 2</a><br>
        <a href="/roll-dice/3">Guess 3</a><br>
        <a href="/roll-dice/4">Guess 4</a><br>
        <a href="/roll-dice/5">Guess 5</a><br>
        <a href="/roll-dice/6">Guess 6</a>
    </div>

    <div th:if="${myNumberGuess}">
        <h2 th:text="${myNumberGuess}">
            Your guessed number =
        </h2>
        <h3>
            Random Roll =  <span th:text="${randomNumber}">random roll</span>
        </h3>
    </div>

    <div>
        <h3 th:if="${isCorrectGuess}">
            You guessed correctly!
        </h3>
        <h3 th:if="${isCorrectGuess != null && !isCorrectGuess}">
            Try again! You did not guess correctly.
        </h3>
    </div>

    </body>
</html>