<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: head('Roll Dice Website')">
        <meta charset="UTF-8">
        <title>Roll Dice</title>
    </head>
    <body>
    <nav th:replace="fragments/navbar :: navbar">Navbar</nav>
        <h1>Please guess a number.</h1>
        <p>Your guessed number = <span th:text="${numberGuess}">test</span> </p>

        <p>Random Roll: <span th:text="${randomNumber}">random roll</span> </p>
        <div>
            <p th:if="${correct}"> You are correct!</p>
<!--            <p th:if="${!correct}">Try again!</p>-->
        </div>

    </body>
</html>